{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "react-native"
    ],
    "rules": {
        "no-underscore-dangle": "off",
        "object-curly-spacing": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-space-before-closing" : "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "indent": ["error", 4]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".android.js", ".ios.js"]
            }
        }
    }
}
