<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>727344611543-rgm4ssgmuu3vkvc8hkg5enfhj4c35po4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727344611543-rgm4ssgmuu3vkvc8hkg5enfhj4c35po4</string>
	<key>API_KEY</key>
	<string>AIzaSyCj1LjzcB2TMZCi-NrjaAcm5sArH4k8TB0</string>
	<key>GCM_SENDER_ID</key>
	<string>727344611543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.roelsgaardnet.tunofestival</string>
	<key>PROJECT_ID</key>
	<string>tuno-festival-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tuno-festival-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727344611543:ios:d8a52827651e12a1</string>
	<key>DATABASE_URL</key>
	<string>https://tuno-festival-app.firebaseio.com</string>
</dict>
</plist>